<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - SBB</title>
    {% else %}
    <title>Secret Bulletin Board!</title>
    {% endif %}

    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bulma.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script  src="{{ url_for('static', filename='custom.js') }}"></script>
</head>
<body class="has-background-grey-lighter">
<header role="banner">
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ url_for('index') }}" id="logo" class="navbar-item is-size-4">Secret Bulletin Board</a>
            <div role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a href="{{ url_for('index') }}" class="navbar-item">Home</a>
                <a href="{{ url_for('all_users') }}" class="navbar-item">All Users</a>
            {% if current_user.is_anonymous %}
            </div>
            <div class="navbar-end">
                <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
            </div>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}" class="navbar-item">Profile</a>
            </div>
            <div class="navbar-end">
                <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
            </div>
            {% endif %}
        </div>
    </div>
    </nav>
</header>

<main role="main">
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-link">
            <button class="delete" onclick="hideParentElement(this)"></button>
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <div class="content-header">
        <div class="container has-background-white">
            {% block content_header %}{% endblock %}
        </div>
    </div>

    <div class="container">
        <hr>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>