{% extends "base.html" %}

{% block content_header %}
<div class="box">
    <h2 class="title is-4 is-marginless">{{ user.username }}</h2>
    
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
    {% if user == current_user %}
    <p><a href="{{ url_for('edit_profile') }}" class="button is-info">Edit your profile</a></p>
    {% elif not current_user.is_following(user) %}
    <p><a href="{{ url_for('follow', username = user.username) }}" class="button is-info">Follow</a></p>
    {% else %}
    <p><a href="{{ url_for('unfollow', username = user.username) }}" class="button is-info">Unfollow</a></p>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
{% if prev_url %}
<a href="{{ prev_url }}">Newer</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older</a>
{% endif %}
{% endblock %}